<!DOCTYPE html>
<html>
  <head>
    <title>Internal Employee Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="dashboard-title"><marquee>Internal Employee Dashboard</marquee></h1>
      <div class="grid">
        <a href="/logs?file=L2FwcC9sb2dzL2FjY2Vzcy5sb2c=" class="geocities-button">View Logs</a>
        <a href="/orders" class="geocities-button">Orders</a>
        <a href="/ping/10.10.10.10" class="geocities-button">Ping</a>
        <a href="#" class="geocities-button">Request Promotion</a>
      </div>
    </div>
  </body>
</html>
